button.deleteDesk {
  padding: 0;
  margin: 0;
  height: 20px;
  width: 20px;
  line-height: 0;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0;
  font-size: 1em;
  text-align: center;
  vertical-align: middle;
}
button.renameDesk {
  padding: 0;
  margin: 0;
  height: 20px;
  width: 20px;
  line-height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  font-size: 1em;
  text-align: center;
  vertical-align: middle;
}
.desks {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.desks .desk {
  background: #607D8B;
  margin: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 1em;;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  min-width: 20em;
  max-width: 30em;
  min-height: 16em;
  max-height: 32em;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink:0;
}

.task {
  text-align: center;
}

input.task {
  border: none;
  background: #607D8B;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 700;
}

input.task:focus {
  border-bottom: 1px solid white;
}

.desks .desk p {
  margin: 0.1em;
}
