<div>
  <label>Desk name:
    <input #deskName />
  </label>
  <button (click)="addDesk(deskName.value); deskName.value=''" title="add desk">
    add desk
  </button>
</div>
<ul class="desks">
  <li class="desk" *ngFor="let desk of desks">
    <button (click)="deleteDesk(desk.id)" class="deleteDesk" title="delete desk">
      &#10060;
    </button>
    <button (click)="renameDesk(desk.id)" class="renameDesk" title="rename desk">
      &#9999;
    </button>
    <h4 class="name-desk">Name: {{desk.name}}</h4>
    <p>Id: {{desk.id}}</p>
    <ul class="tasks">
      <ng-container *ngFor="let task of tasks">
        <li class="task" *ngIf="task.deskId == desk.id">
          <p>
            <button (click)="completeTask(task.id, task.status)" title="complete task" class="completeTask">&#9989;</button>
            <input #box (blur)="changeAction(box.value, task.id)" value="{{task.action}}" class="task" [style.background-image]="task.status ? 'linear-gradient(transparent 7px,white 7px,white 9px,transparent 9px)': 'none'" spellcheck="false">
            <button (click)="transferTask(task.id)" title="transfer task">&#9666; &#9656;</button>
            <button (click)="deleteTask(task.id)" title="delete task">&#10008;</button>
          </p>
        </li>
      </ng-container>
    </ul>
    <div>
      <button (click)="addTask(taskName.value, desk.id); taskName.value=''" title="add task">&#10133;</button>
      <input #taskName />
    </div>
  </li>
</ul>
